body{
    user-select: none;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}
#buttonContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}
.btn{
    background-color: white;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.btn:hover{
    filter: brightness(90%);
    cursor: pointer;
}
.btn:active{
    filter: brightness(50%);
}
#item{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#itemContainer{
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px white;
}